*{
    box-sizing: border-box;
}
.row-header{
    margin:0px auto;
    padding:0px;
    padding-top: 2rem;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
header{
    background: rgb(105, 72, 161) !important;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
label{
    font-weight: 700;
}
form{
    width: 70%;
    margin: auto;
    border: #eee solid 1px;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    
}