*{
    box-sizing: border-box;
}
.row-header{
    margin:0px auto;
    padding:0px;
    padding-top: 2rem;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px;
    padding: 20px 0px 20px 0px;
    width: 100% ;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
header{
    background: rgb(105, 72, 161) !important;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
label{
    font-weight: 700;
}
.tab-content{
    border-left: #eee 1px solid;
    border-right: #eee 1px solid;
    border-bottom: #eee 1px solid;
    padding: 1rem;
    margin-bottom: 2rem;
}
a:hover{
    cursor: pointer;
}
.carousel {
    background:#512DA8;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
.carousel-caption{
    position: absolute;
    left: 6rem;
    top: 5rem;
}
/*form{
    width: 70%;
    margin: auto;
    border: #eee solid 1px;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    
}*/