$background-pale: #D1C4E9;
$background-dark: rgb(105, 72, 161);
@mixin margin-zero($p-top,$p-left,$p-bot,$p-right) {
    margin: 0 auto;
    padding: $p-top $p-left $p-bot $p-right;
}
*{
    box-sizing: border-box;
}
.row-header{
    @include margin-zero(2rem, 0, 0, 0);
}

.row-content {
    @include margin-zero(50px, 0, 50px, 0);
    border-bottom: 1px solid;
    min-height:400px;
}

.footer{
    background-color: $background-pale;
    @include margin-zero(20px, 0, 20px, 0);
    width: 100% ;
}
.jumbotron {
    @include margin-zero(70px, 0, 70px, 0);
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
header{
    background: $background-dark !important;
    nav{
         ul{
            display: flex;
            justify-content: space-between;
        }
    }
}

label{
    font-weight: 700;
}
.tab-content{
    border-left: #eee 1px solid;
    border-right: #eee 1px solid;
    border-bottom: #eee 1px solid;
    padding: 1rem;
    margin-bottom: 2rem;
}
a:hover{
    cursor: pointer;
}
.carousel {
    background:#512DA8;
    .carousel-item {
        height: 300px;
        img {
          position: absolute;
          top: 0;
          left: 0;
          min-height: 300px;
      }
    }
}




.carousel-caption{
    position: absolute;
    left: 6rem;
    top: 5rem;
}
#carouselButton{
    position: absolute;
    right: 0;
    bottom: 0;
}
.modal-content{
    .modal-header{
        background: $background-dark;
        h4{
            color: floralwhite ;
        }
        button{
            color: floralwhite;
        }
    }
    .modal-body{
        background: $background-pale;
    }
}
